* {
    padding: 0px;
    margin: 0px;
}

hr {
    height: 2px;
    background-color: #666666;
}

h1 {
    text-align: center;
    color: #000000;
    /*height: 50px;*/
}

#container {
    position: relative;
    width: 300px;
    border: 2px solid #666666;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #d9d9d9;
}

input[type=text] {
    position: center;
    width: 95%;
    text-align: right;
    display: block;
    margin: 5px 5px 0px 5px;
    font-size: 30px;
    border-radius: 5px;
    border-style: outset;
    border: solid 1px #707070;
    transition: border 0.3s;
    padding: 1%;

}

.btn{
    position: relative;
    width: 20%;
    padding: 2.5% 1%;
    margin: 1% 1.75%;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px #737373;

}

.calc {
    padding: 10px 0px;
}

.btn :hover {
    background-color: #333333;
    color: white;
}


footer{
    text-align: right;
}